.seccion-con-fondo {
  width: 100%;
  height: 82vh; /* ocupa toda la pantalla en PC */
  background-image: url("../assets/fondoletras2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; /* mantiene proporción */
  background-attachment: fixed;
  background-blend-mode: normal;

  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* texto al fondo */
  align-items: center;
  padding-bottom: 5px;
}

.seccion-con-fondo-mariposa {
  width: 100%;
  height: 91vh; /* ocupa toda la altura disponible */
  background-image: url("../assets/mariposas.png");
  background-position: center;
  background-repeat: repeat-x; /* en PC se repite horizontal */
  background-size: auto;       /* mantiene tamaño original */
  background-attachment: fixed;
  background-blend-mode: normal;

  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  justify-content: center;   /* centra horizontalmente */
  align-items: flex-start;   /* coloca el contenido arriba */
  padding-top: 30px;         /* espacio desde arriba */
}

.seccion-con-fondo_2 {
  width: 100%;
  height: 80vh; /* ocupa toda la pantalla en PC */
  background-image: url("../assets/fotobebe.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; /* mantiene proporción */
  background-attachment: fixed;
  background-blend-mode: normal;
  background-attachment: scroll; /* mejor en móviles */

  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* texto al fondo */
  align-items: center;
  padding-bottom: 5px;
}

/* Padrinos */
.seccion-padrinos-portada {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap; /* se acomoda en móviles */
  padding: 15px;
}

.imagen-portada {
  max-width: 45%;   /* ocupa menos de la mitad del ancho */
  max-height: 98vh; /* altura máxima relativa al alto de la pantalla */
  height: auto;
  border-radius: 2em; /* esquinas redondeadas con unidad relativa */
  object-fit: cover;  /* recorta suavemente si excede */
}

.contenedor-padrinos-flex {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
  flex: 1;
  flex-wrap: wrap;
  text-align: left;
}

.columna p {
  font-family: 'Georgia', serif;
  font-size: 1.2rem;
  margin: 10px 0;
  color: #4a3c2a;
}

.imagen-centro img {
  max-width: 100px;
}

/* 📱 Ajuste para celulares y tablets */
@media (max-width: 1024px) {
  .seccion-padrinos-portada {
    flex-direction: row;        /* mantiene lado a lado */
    justify-content: center;
    align-items: stretch;       /* estira ambos bloques a la misma altura */
    gap: 10px;
    flex-wrap: wrap;
    height: 80vh;               /* altura relativa a la pantalla */
  }

  .imagen-portada {
    flex: 1 1 50%;              /* ocupa mitad del ancho */
    justify-content: space-between;
    align-items: stretch;   /* estira hasta arriba y abajo */
    width: 100%;
    height: 100vh;          /* ocupa toda la pantalla */
    object-fit: cover;          /* mantiene proporción */
    border-radius: 2em;
  }

  .contenedor-padrinos-flex {
    flex: 1 1 50%;              /* ocupa la otra mitad */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        /* centra nombres y flores */
    text-align: center;
  }

  .imagen-centro img {
    width: auto;
    height: 100%;
    transform: rotate(90deg); /* gira la imagen 90 grados */
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

}



/* Ajustes para tablet */
@media (max-width: 768px) {
  .seccion-con-fondo {
    background-size: cover;
    height: 100vh;
    padding-bottom: 20px;
  }


}

/* Ajustes para celular */
@media (max-width: 480px) {
  .seccion-con-fondo {
    background-size: cover;
    background-attachment: scroll; /* mejor rendimiento en móviles */
    height: 75vh;
    padding-bottom: 18px;
    padding-top: 5px;

  }

  .seccion-con-fondo-mariposa {
    background-repeat: repeat; /* en celular se repite vertical */
    background-size: 100px auto; /* patrón más compacto */
    background-size: auto;       /* mantiene tamaño original */
    background-attachment: fixed;
    background-blend-mode: normal;

    min-height: auto;       /* se adapta al contenido */

    display: flex;
    flex-direction: column;

    justify-content: flex-start;   /* centra horizontalmente */
    align-items: flex-start;   /* coloca el contenido arriba */
    padding-top: 10px;         /* espacio desde arriba */
  }

  .seccion-con-fondo-mariposa h1,
  .seccion-con-fondo-mariposa p {
    font-size: 1.2rem;
    text-align: center;
  }
  .seccion-con-fondo_2 {
    min-width: auto;
    min-height: auto;       /* se adapta al contenido */
  }
}


/* Tablets */
/* @media (max-width: 768px) {
  .seccion-con-fondo {
    height: 80vh;
    background-size: cover;
    padding-bottom: 20px;
  }
}*/

/* Celulares */
/* @media (max-width: 480px) {
  .seccion-con-fondo {
    height: 100vh;
    background-size: cover;
    padding-bottom: 15px;
  } */

  /* .seccion-con-fondo h1,
  .seccion-con-fondo p {
    font-size: 1.2rem;
    text-align: center;
  }
}  */

.texto-portada {
  color: white;
  font-size: 2rem;
  text-align: center;
  background: rgba(182, 122, 255, 0.4); /* opcional: fondo semitransparente */
  position: absolute;
  bottom: 20px;   /* distancia desde el borde inferior */

}
.texto-grande {
  color: white;
  font-size: 3rem;
  text-align: center;
  background: rgba(182, 122, 255, 0.4); /* opcional: fondo semitransparente */
  padding: 5px 10px;
  border-radius: 8px;
}


/*Apartado del conteo regresivo de la fecha*/
.contador {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.caja {
  background-color: #c9a9e6; /* tu color lila */
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  min-width: 80px;
}

.caja span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #5a3d85; /* tono más oscuro para contraste */
}

.caja p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.texto-invitacion {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.3); /* fondo claro semitransparente */
  backdrop-filter: blur(6px);           /* difumina el fondo detrás */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}

.texto-invitacion p {
  font-family: 'Georgia', serif; /* tipografía con estilo clásico */
  font-size: 1.2rem;
  line-height: 1.8;
  color: #4a3c2a;               /* tono marrón para contraste */
  font-style: italic;           /* da un aire más sentimental */
}

.texto-invitacion2 {
  max-width: 60%;
  margin: 0 auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.352); /* fondo claro semitransparente */
  backdrop-filter: blur(6px);           /* difumina el fondo detrás */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}

.texto-invitacion2 p{
  font-family: 'Georgia', serif; /* tipografía con estilo clásico */
  font-size: 1.2rem;
  line-height: 0.8;
  color: #412f56;               /* tono marrón para contraste */
  font-style: italic;           /* da un aire más sentimental */
}

.texto-invitacion2 p.titulo-invitacion {
  font-family: 'Georgia', serif;
  font-size: 2rem;
  line-height: 1.8;
  color: #412f56;
  font-style: italic;
  font-weight: bold; /* opcional para destacar más */
}

.item-itinerario {
  display: flex;
  flex-direction: column; /* ícono arriba, texto abajo */
  align-items: center;
  margin: 1.2rem 0;       /* menos separación */
  padding: 0.;
  position: relative;
}


.item-itinerario:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -1rem;          /* línea más corta */
  left: 50%;
  transform: translateX(-50%);
  width: 0.12rem;
  height: 2rem;           /* más compacta */
  background: #5d4c79;
}


.item-itinerario svg,
.item-itinerario .icono {
  flex-shrink: 0;
  font-size: 2rem;
  color: #4a3c2a;
}

.texto-evento {
  text-align: center;
}
/* Tablets */
@media (max-width: 768px) {
  .caja {
    min-width: 70px;
    padding: 10px;
  }
  .caja span {
    font-size: 1.5rem;
  }
  .caja p {
    font-size: 0.9rem;
  }
}

/* Celulares */
@media (max-width: 480px) {
  .contador {
    gap: 10px;
  }
  .caja {
    min-width: 60px;
    padding: 8px;
    padding-bottom:20px;
  }
  .caja span {
    font-size: 1.2rem;
  }
  .caja p {
    font-size: 0.8rem;
  }
  .texto-invitacion {
    max-width: 95%;
    font-size: 1rem;
    line-height: 1.4;

  }
  .texto-invitacion p {
    font-size: 1rem;
    line-height: 1.4;
  }
}



/* 📱 Celulares */
@media (max-width: 48em) { /* ~768px */
  .texto-invitacion2 {
    max-width: 65%;
    max-height: 93%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .texto-invitacion2 p {
    font-size: 1rem;
    line-height: 1;
  }

  .texto-invitacion2 p.titulo-invitacion {
    font-size: 1.5rem;
  }

  .item-itinerario {
    margin: 1.0rem 0;
    padding: 0.8rem;
  }

  .item-itinerario svg,
  .item-itinerario .icono {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
}

/* 📲 Tabletas */
@media (min-width: 48em) and (max-width: 64em) { /* ~769px a 1024px */
  .texto-invitacion2 {
    max-width: 85%;
    padding: 0.8rem;
  }

  .texto-invitacion2 p {
    font-size: 1.1rem;
    line-height: 1.6;
  }

  .texto-invitacion2 p.titulo-invitacion {
    font-size: 1.8rem;
  }

  .item-itinerario {
    margin: 1.8rem 0;
    padding: 1rem;
  }

  .item-itinerario svg,
  .item-itinerario .icono {
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
  }
}

