/* Estilo general */
.portada {
  position: relative;
  width: 100%;
  height: 100vh; /* pantalla completa */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A88BD6;
  overflow: hidden;
}

/* Flores arriba */
.flores-arriba {
  width: 25%;
  max-height: 80%;      /* menos altura en escritorio */
  object-fit: cover;  /* mantiene proporción */
  position: absolute;
  top: 0;
  left: 50;
  z-index: 2;
}

/* GIF en medio */
.gif-portada {
  max-width: 60%;       /* más espacio para que luzca */
  max-height: 60%;
  object-fit: contain;
  position: relative;
  z-index: 1;
}

/* Flores abajo */
.flores-abajo {
  width: 25%;
  max-height: 80%;      /* menos altura en escritorio */
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50;
  z-index: 2;
}


@media (max-width: 768px) {
  .flores-arriba,
  .flores-abajo {
    max-height: 30%; /* compactas en tablet */
  }

  .gif-portada {
    max-width: 85%;
    max-height: 45%;
  }
}

@media (max-width: 480px) {
  .flores-arriba {
    width: 100%;
    max-height: 28%; /* compactas en celular */
  }
  .flores-abajo {
    width: 100%;
    max-height: 50%; /* compactas en celular */
  }

  .gif-portada {
    max-width: 90%;
    max-height: 40%;
  }
}


